<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>ToDOList——超简单的待办事项列表</title>
    <link rel="shortcut icon" href="src/favicon.ico">
    <link rel="stylesheet" href="src/css/index.css">
    </style>
  </head>

  <body>
    <div id="app">
      <div class="wrapper">
        <form class="newTask">
          <label for="title">ToDoList</label>
          <input id="title" type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="添加ToDo，按Enter键完成">
        </form>
      </div>

      <ol class="todos">
        <li v-for="todo in todoList">
          <input type="checkbox" v-model="todo.done">
          <span class="text">{{ todo.title }}</span>
          <span class="status" v-if="todo.done">{{ todo.createAt }} 已完成</span>
          <span class="status" v-else>{{ todo.createAt }} 未完成</span>
          <button @click="deleteTodo(todo)">X</button>
        </li>
      </ol>

      <div class="footer">
        <span>Copyright © 2017 todo.bensusan.top</span>
        <a class="clear" href="#">clear all</a>
      </div>
    </div>

    <script src="src/js/app.js"></script>
  </body>
</html>